<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.2" targetFramework="net4-client" />
  <package id="DocX" version="1.0.0.22" targetFramework="net4-client" />
  <package id="docx4j.NET" version="3.3.2.81" targetFramework="net4-client" />
  <package id="GitHub" version="1.5.4" targetFramework="net4-client" />
  <package id="IKVM" version="8.1.5717.0" targetFramework="net4-client" />
  <package id="slf4j-api" version="1.7.5.4" targetFramework="net4-client" />
  <package id="slf4j-NetCommonLogging" version="1.7.5.4" targetFramework="net4-client" />
</packages>